!!!
%html
	%meta(charset = "utf-8")
		%title nomograms
		%script(type="text/javascript" src="d3.v3.js") 
		%script(type="text/javascript" src="helper.js")    
		%script(type="text/javascript" src="nomo1.js")          
		%link(rel="stylesheet" type = "text/css" href="style.css")
		%script{:type => 'text/javascript'}
			:plain
				var plist = [
					"BMI", "secondOrder", "retainingWall", "dubois", "temp"
					];
				var pname = {
					"BMI": "BMI",
					"secondOrder": "Second Order",
					"retainingWall":  "Retaining Wall",
					"dubois":  "Dubois"
					,
					"temp":  "Temperature"
					};
		
	%body
		%select{:id=>"selector"}
		%br

		%br
		%script{:type => 'text/javascript'}
			:plain		
				init();