!!!
%html
	%meta(charset = "utf-8")
		%title nomograms
		%script(type="text/javascript" src="d3.v3.js") 
		%script(type="text/javascript" src="helper.js")          
		%link(rel="stylesheet" type = "text/css" href="style.css")
	%body
		%input#domain
		%script{:type => 'text/javascript'}
			:plain		
				init();