body{
	padding:20px;
	font-family:Helvetica, sans-serif;

}
.axis path  {
  	fill: none;
	stroke :black;
  	shape-rendering: crispEdges;
  	width: 20px; }

.axis text {  
    font-size: 50px;
}
dragpoint{
	color: blue;
}
.axis line{
	fill: none;
	stroke :black;
	shape-rendering: crispEdges;
	width: 20px; 
	}
line#nomoline{
	 width: 50px;
}
input{
  width: 30px;
}
input#buttonExecute{
  width: 60px;
}
select#selector{
	width: 200px;
	line-height:700px;
	font-size:80px;
	margin-right:20px;

}
line {
stroke:black;
  stroke-width: 5px; }

.axis text {
  font-family: sans-serif;
  font-size: 11px; }

*::selection {
    background:transparent;
}

*::-moz-selection {
    background:transparent;
}

*::-webkit-selection {
    background:transparent;
}